@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="text-bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">@ViewData["Title"]</h1>
            <p class="lead fw-normal text-white-50 mb-0">You can add new movies</p>
        </div>
    </div>
</header>
<link rel="stylesheet" href="~/css/site.css">
<form method="post">
    <div id="div1">
        
        <div>
            <label class="labelx">Director FirstName</label><br />
            <input class="boxx" type="text" name="FirstName" />

        </div>
        <div id="div1">
            <label class="labelx">Director Lastname</label><br />
            <input class="boxx" type="text" name="LasttName" />
        </div>

        <div>
            <label class="labelx">Category Name</label><br />
            <input class="boxx" type="text" name="CategoryName" />
        </div>
        <div>
            <label class="labelx">Cast First Name</label><br />
            <input class="boxx" type="text" name="FirstName" />
        </div>
        <div>
            <label class="labelx">Cast Last Name</label><br />
            <input class="boxx" type="text" name="LastName" />
        </div>


        <div>
            <label class="labelx"> Movie Name</label><br />
            <input class="boxx" type="text" name="MovieName" />
        </div>


        <div>
            <label class="labelx">Published Date</label><br />
            <input class="boxx" type="text" name="PublishedDate" />
        </div>
        <div>
            <label class="labelx">Trailer URL(Youtube)</label><br />
            <input class="boxx" type="text" name="TrailerHttp" />
        </div>

        <div>
            <label class="labelx">Description</label><br />
            <textarea id="description" type="text" name="Description"></textarea>
        </div>


        <button id="addbutton" type="submit">Add</button>
    </div>
</form>