
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center">@ViewData["Title"]</h1>
            <p class="lead">
               Sizlere dünya çapında kullanılan ünlü bir örnek veritabanı olan Northwind veritabanını tanıtmak ve anlamını açıklamak istiyoruz.
                
            </p>
            <p>
                Northwind, Microsoft tarafından üretilmiş bir örnek veritabanıdır ve özellikle yazılım geliştirme öğrenirken ve uygulama geliştirirken kullanılan bir kaynaktır.
                Bu veritabanı, farklı kategorilere ait ürünleri, müşteri ve tedarikçi bilgilerini, siparişleri ve daha fazlasını içerir. 
            </p>
            <p>
                Özellikle işletme yönetimi, veri tabanı tasarımı ve sorgulama becerilerini geliştirmek için kullanışlıdır.
                Amacımız, bu veritabanını kullanarak interaktif bir alışveriş deneyimi sunmak ve kullanıcıların farklı ürünleri incelemesini, siparişlerini takip etmesini ve hesaplarını yönetmesini sağlamaktır.
                Sitemizde sizleri bekleyen geniş bir ürün yelpazesi ve kullanışlı işlevler bulunmaktadır. Siz de Northwind Web Simülasyonu ile alışverişin keyfini çıkarın!
            </p>
           
        </div>
    </div>
</div>