﻿@{
    ViewData["Title"] = "Hesap oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">


    <div class="col-md-9 mx-auto">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <p class="text-center">Hesabınızı oluşturmak için aşağıdaki formu doldurun:</p>
        <div class="card">
            <div class="card-body">
                <form asp-page-handler="Register" method="post">
                    <div class="mb-3">
                        <label for="CustomerId" class="form-label">Şirket Kısaltması(En fazla 4 karakter)</label>
                        <input type="text" class="form-control" id="customerId" name="CustomerId" required>
                    </div>
                    <div class="mb-3">
                        <label for="companyName" class="form-label">Şirket Adı</label>
                        <input type="text" class="form-control" id="companyName" name="CompanyName" required>
                    </div>
                    <div class="mb-3">
                        <label for="contactName" class="form-label">İletişim Adı</label>
                        <input type="text" class="form-control" id="contactName" name="ContactName" required>
                    </div>
                    <div class="mb-3">
                        <label for="contactTitle" class="form-label">İletişim Ünvanı</label>
                        <input type="text" class="form-control" id="contactTitle" name="ContactTitle" required>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Adres</label>
                        <input type="text" class="form-control" id="address" name="Address" required>
                    </div>
                    <div class="mb-3">
                        <label for="city" class="form-label">Şehir</label>
                        <input type="text" class="form-control" id="city" name="City" required>
                    </div>
                    <div class="mb-3">
                        <label for="region" class="form-label">Bölge</label>
                        <input type="text" class="form-control" id="region" name="Region">
                    </div>
                    <div class="mb-3">
                        <label for="postalCode" class="form-label">Posta Kodu</label>
                        <input type="text" class="form-control" id="postalCode" name="PostalCode">
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Ülke</label>
                        <select class="form-select" id="country" name="Country" required>
                            <option value="" disabled selected>Ülke seçin</option>
                            <option value="Turkey">Türkiye</option>
                            <option value="Russia">Rusya</option>
                            <option value="Germany">Almanya</option>
                            <option value="France">Fransa</option>
                            <option value="UnitedKingdom">İngiltere</option>
                            <option value="Italy">İtalya</option>
                            <option value="Spain">İspanya</option>
                            <option value="Ukraine">Ukrayna</option>
                            <option value="Poland">Polonya</option>
                            <option value="Romania">Romanya</option>
                            <option value="Netherlands">Hollanda</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Telefon</label>
                        <input type="tel" class="form-control" id="phone" name="Phone" required>
                    </div>
                    <div class="mb-3">
                        <label for="fax" class="form-label">Faks</label>
                        <input type="tel" class="form-control" id="fax" name="Fax">
                    </div>
                    <button type="submit" class="btn btn-primary">Hesap Oluştur</button>
                </form>
            </div>
        </div>
    </div>
</div>
