
@{
    ViewData["Title"] = "Hoş Geldiniz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <span>@TempData["Error"]</span>

    </div>
}

<div class="container mt-5">


    <div class="col-md-9 mx-auto">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <p class="text-center">Kullanıcı bilgilerinizi giriniz</p>
        <div class="card">
            <div class="card-body">
                <form asp-page-handler="Login" method="post">
                    <div class="mb-3">
                        <label for="Email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="Email" name="Email" required>
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Şifre</label>
                        <input type="text" class="form-control" id="Password" name="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </form>

