@{
    ViewData["Title"] = "Kullanıcı oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">


    <div class="col-md-9 mx-auto">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <p class="text-center">Kullanıcı eklemek için aşağıdaki formu doldurun:</p>
        <div class="card">
            <div class="card-body">
                <form asp-page-handler="Register" method="post">
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Kullanıcı Adı</label>
                        <input type="text" class="form-control" id="UserName" name="UserName" required>
                    </div>
                    <div class="mb-3">
                        <label for="Email" class="form-label">Email Adresi</label>
                        <input type="text" class="form-control" id="Email" name="Email" value="@@northwind.com" >
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label"> Şifre</label>
                        <input type="text" class="form-control" id="Password" name="Password" required>
                    </div>
                    <div class="mb-3">
                        <label for="ConfirmPassword" class="form-label">Şifre Tekrar</label>
                        <input type="text" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                    </div>
              
                    <button type="submit" class="btn btn-primary">Hesap Oluştur</button>
                </form>
            </div>
        </div>
    </div>
</div>
