
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["CompletionMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["CompletionMessage"]
    </div>
}
<form method="post">
    <div class="form-container">
        <label class="form-label">Role Ad:</label>
        <input class="form-input" type="text" name="roleName" />
        <button class="form-button" type="submit" class="btn btn-primary">Oluştur</button>
    </div>
</form>

