@model List<ECommerce.Entity.Entity.Category>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>xxxxx</h3>
@foreach (var item in Model)
{
    <h1>@item.CategoryName</h1>
    <h1>@item.Description</h1>
    <br />
}
