
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Merhaba Admin</h1>

<div>

    <div class="table table-hover">
        <table>
            <thead>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
            </thead>
            <tbody>
                @if(ViewBag.Users!=null)
                {
                    
                }else
                {
                    <tr>
                        <td colspan="3">
                            <span>Herhangi bir üye bulunamadı!</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>





    </div>



</div>

